.alertList {
  position: fixed; /* Sit on top of the screen */
  left: 35%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

.alert {
  min-width: 250px; /* Set a default minimum width */
  margin: 2px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  z-index: 1; /* Add a z-index if needed */
}

.close-btn {
  background: inherit;
  border: inherit;
  color: white;
  position: relative;
  top: -15px;
  left: 98%;
}

.justify-end {
  justify-items: end;
  display: flex;
  align-items: center;
}
